.pageContainer{
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(to bottom, rgb(28, 28, 28), black);
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

.logoContainer img{
    height: 3rem;
}

.toolbarContainer{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.genReportTool{
    background-color: #CE2424;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 8px 8px 0 0;
    font-weight: 600;
}


.workspaceContainer{
    flex: 1;
    background-color: #353535;
    border-radius: 8px 0 8px 8px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.sectionHeader{
    color: #BEBEBE;
    font-weight: bold;
    font-size: 1.3rem;
    margin-bottom: 1.5rem;
}


.investigation {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.card:hover{
    cursor: pointer;
}

