.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  align-items: center;
  background-image: url("../../assets/bg_picture.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

.login_form {
  max-width: 500px;
  margin: 0 auto;
  background: #fff;
  background-image: linear-gradient(to bottom, rgb(28, 28, 28), black);
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.login_form h2 {
  text-align: center;
  margin-bottom: 2rem;
  color: white;
}

.login_form form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.login_form input[type="email"],
.login_form input[type="password"] {
  padding: 10px;
}

.login_form button[type="submit"] {
  background-color: #ce2424;
  color: white;
  font-size: 1.3rem;
  outline: none;
  border: none;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  cursor: pointer;
  align-items: center;
}


.login_form span{
  margin-top: 10px;
  color:antiquewhite;
  font-size: 1rem;
}


/* Media queries for responsive styles */
@media (max-width: 768px) {
  .login_form {
    max-width: 100%;
    padding: 0 20px;
  }
}
